$light-color: #ffffff;
$font-stack: "Courier New", Courier, monospace;
$primary-color: #ebebeb;
$secondary-color: #1a6834;

//Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

//Set background & text color
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

